<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/adminstyle.css">
    <script src="/js/jquery_uncompressed.js"></script>
    <link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/drop.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       Admin Area
    </title>
</head>

<body>
    <div class="ajaxbg">
        <div class="ajaxinner">
            <h3>You are now being redirected to paypal...</h3>
            <img src="/images/ajax-loader.gif" alt="" />
        </div>
    </div>
    <nav class="bg-gray-100 shadow-md">
        <div class="max-w-7xl mx-auto px-5">
            <div class="flex justify-between">
                <div class="flex space-x-1">
                    <div>
                        <a href="/" class="flex py-5 px-4 text-gray-500 hover:text-gray-900 font-extrabold">
                            Dmi Nobu 
                        </a>
                    </div>
                    <div class=" hidden md:flex space-x-4 items-center">
           
                        <a href="/admin/pages" class="text-gray-500 hover:text-green-400">Pages</a>
        <a href="/admin/categories" class="text-gray-500 hover:text-green-400">Categories</a> 
        <a href="/admin/products" class="text-gray-500 hover:text-green-400">Products</a> 
                    </div>
                </div>
                <div class=" hidden md:flex items-center space-x-1">
                   
                   
                    <% if (user) { %>
                    <a class="text-gray-500 hover:text-green-400" href="/users/logout">Hi, <%= user.username %> ( logout )</a></li>
                    <% } else {%>
                    <a href="/users/login" class="py-5 text-gray-500 hover:text-green-400 px-4">Log in</a>
                    <a href="/users/register"
                        class="py-2 hover:text-yellow-900 px-4 hover:bg-yellow-400 bg-yellow-500 text-yellow-900 rounded">Sign
                        Up</a>
                    <% } %>
                    <% if (user && user.admin == 1) { %>
                    <a href="/admin/pages">Admin Area</a>
                    <% }%>
                </div>
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="hidden mobile-menu md:hidden">
            <a href="/admin/pages" class="block py-4 px-4">Pages</a>
            <a href="/admin/categories" class="block py-4 px-4">Categories</a>
            <a href="/admin/products" class="block py-4 px-4">Products</a>
           
            <% if (user) { %>
            <a class="block py-4 px-4" href="/users/logout">Hi, <%= user.username %> ( logout )</a></li>
            <% } else {%>
            <a href="/users/login" class="py-5 hover:text-gray-900 px-4">Log in</a>
            <a href="/users/register"
                class="py-2 hover:text-yellow-900 px-4 hover:bg-yellow-400 bg-yellow-500 text-yellow-900 rounded">Sign
                Up</a>
            <% } %>
            <% if (user && user.admin == 1) { %>
            <a class="text-gray-500 hover:text-green-400" href="/admin/pages">Admin Area</a>
            <% }%>

        </div>
    </nav>
    <%- messages('messages', locals) %>
    <% if (errors) {%>
        <% errors.forEach(function(error) { %>
            <div class="py-2 text-capitalize bg-red-200 container mx-auto mt-3 border  border-red-500 px-3 text-center text-red-500">
            <%= error.msg %>
        </div>
        <% });%>
    <% }%>
    

    

