<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/boxicons/css/boxicons.min.css' rel='stylesheet'>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="fa/font-awesome.css">
    <link rel="stylesheet" href="/css/restarunt_styles.css">
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/dropzone.css"/>
    <title>Dmi Nobu</title>
</head>
<body>
    
<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="/" target="_blank" class="nav__logo active-link">
            Admin Area
        </a>
        
  
        <div class="nav__menu" id="nav-menu">
            
            <ul class="nav__list">
                    
                    <li class="nav__item"><a href="/admin/pages" class="nav__link ">Pages</a></li>
                    <li class="nav__item"><a href="/admin/categories" class="nav__link">Categories</a></li>
                    <li class="nav__item"><a href="/admin/products" class="nav__link">Products</a></li>
            
               
                <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>
 
